@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <h5>So you wanna a be dealer or client?</h5>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" asp-for="Input.Role" value="Dealer" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">Dealer</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" asp-for="Input.Role" value="Client" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Client</label>
            </div>
            <hr />
            <div class="row">
                <button type="button"  id="reactAccRadio" class="btn btn-primary m-2" data-toggle="modal" data-target="#modal1">Register</button>
            </div>


            <div class="modal fade" id="dealerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Complete the information about your company!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Input.DealerFormModel.Name"></label>
                                <input asp-for="Input.DealerFormModel.Name" class="form-control" placeholder="Es: Angel Velinov.." />
                                <span asp-validation-for="Input.DealerFormModel.Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.DealerFormModel.Email"></label>
                                <input asp-for="Input.DealerFormModel.Email" class="form-control" />
                                <span asp-validation-for="Input.DealerFormModel.Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.DealerFormModel.City"></label>
                                <input asp-for="Input.DealerFormModel.City" class="form-control" placeholder="Es: Plovdiv.." />
                                <span asp-validation-for="Input.DealerFormModel.City" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.DealerFormModel.Country"></label>
                                <input asp-for="Input.DealerFormModel.Country" class="form-control" placeholder="Es: Bulgaria.." />
                                <span asp-validation-for="Input.DealerFormModel.Country" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.DealerFormModel.Address"></label>
                                <input asp-for="Input.DealerFormModel.Address" class="form-control" placeholder="Es: ul.Chemshir n7.." />
                                <span asp-validation-for="Input.DealerFormModel.Address" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.DealerFormModel.Description"></label>
                                <input asp-for="Input.DealerFormModel.Description" class="form-control" placeholder="I'm a big dealer'" />
                                <span asp-validation-for="Input.DealerFormModel.Description" class="text-danger"></span>
                            </div>
                            <br />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Complete the information about your company!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Input.ClientFromModel.City"></label>
                                <input asp-for="Input.ClientFromModel.City" class="form-control" placeholder="Es: Angel Velinov.." />
                                <span asp-validation-for="Input.ClientFromModel.City" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.ClientFromModel.Address"></label>
                                <input asp-for="Input.ClientFromModel.Address" class="form-control" />
                                <span asp-validation-for="Input.ClientFromModel.Address" class="text-danger"></span>
                            </div>
                            <br />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.querySelectorAll('input[type="radio"]').forEach(cur => {
            cur.addEventListener('change', e => {
                const value = document.querySelector('input[type="radio"]:checked').value;
                if (value === 'Dealer') {
                    document.querySelector('#reactAccRadio').setAttribute('data-target', '#dealerModal');
                } else if (value === 'Client') {
                    document.querySelector('#reactAccRadio').setAttribute('data-target', '#clientModal');
                }
            })
        });
    </script>
}


