@model OfferSigleMotorcycleDto

@{
    this.ViewData["Title"] = "Offer motorcycle";
}


<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Page for details for your bike and the possibility of putting it on offer!</h1>
        <div>
            <div class="form-group text-center">
                <img src="@Model.Url" class="img-fluid">
            </div>
            <div class="form-group">
                <label>Manufacturer and Model:</label>
                <h5 type="text" readonly class="form-control">@Model.Manufacturer : @Model.Model</h5>
            </div>
            <div class="form-group">
                <label>Color:</label>
                <h5 type="text" readonly class="form-control">@Model.Color</h5>
            </div>
            <div class="form-group">
                <label>Cubic Centimetre:</label>
                <h5 type="text" readonly class="form-control">@Model.CubicCentimetre cc</h5>
            </div>
            <div class="form-group">
                <label>Price per day:</label>
                <h5 type="text" readonly class="form-control">@Model.Price Euro</h5>
            </div>
            @if (Model.Available == true)
            {
                <div class="form-group">
                    <label>Available:</label>
                    <h5 class="alert alert-success">Free. You can offer this motorcycle!</h5>
                </div>
                <div class="form-group text-center">
                    <div class="button-holder">
                        <a asp-controller="Motor" asp-action="OfferThisModel" asp-route-id="@Model.ModelId" class="btn btn-block btn-success">Offer</a>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">1
                    <label>Available:</label>
                    <h5 class="alert alert-danger">Busy! You don't can put available this motorcycle!</h5>
                </div>
            }
            <div class="form-group text-center">
                <div class="button-holder">
                    <a asp-controller="Motor" asp-action="Edit" asp-route-id="@Model.ModelId" class="btn btn-block btn-primary">Edit</a>
                </div>
            </div>
        </div>
            </div>
    </section>