@model OfferSigleMotorcycleDto

@{
    this.ViewData["Title"] = "Offer motorcycle";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @this.TempData["Message"]
    </div>
}


<section class="py-5">
    <div class="container">
        <h1 class="text-center">Details page of you motorcycle</h1>
        <h1 class="text-center">If you want can putting it on offer!</h1>
        <div>
            <div class="form-group text-center col-10 offset-1">
                <img src="@Model.Url" class="img-fluid">
            </div>
            <div class="col-10 offset-1">
                <div class="form-group">
                    <label class="font-weight-bold">Manufacturer and Model:</label>
                    <h5 type="text" readonly class="form-control">@Model.Manufacturer : @Model.Model</h5>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Color:</label>
                    <h5 type="text" readonly class="form-control">@Model.Color</h5>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Cubic Centimetre:</label>
                    <h5 type="text" readonly class="form-control">@Model.CubicCentimetre cc</h5>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Price per day:</label>
                    <h5 type="text" readonly class="form-control">@Model.Price Euro</h5>
                </div>
                <form method="post">
                    <div class="">
                        <div class="form-check">
                            <input asp-for="Available" class="form-check-input" type="checkbox">
                            <label class="form-check-label font-weight-bold" for="flexCheckDefault">
                                Available
                            </label>
                        </div>
                    

                        @if (Model.Available == true)
                        {
                            <div class="form-group">
                                <div class="button-holder mt-2">
                                    <button type="submit" class="btn btn-block btn-warning">Unavailable</button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="button-holder mt-2">
                                    <button type="submit" class="btn btn-block btn-success">Available</button>
                                </div>
                            </div>
                        }
                    </div>
                </form>
                @if (Model.Available == true)
                {
                    <div class="form-group">
                        <label class="font-weight-bold">Available:</label>
                        <h5 class="alert alert-success">Free. You can offer this motorcycle!</h5>
                    </div>
                    <div class="form-group text-center">
                        <div class="button-holder">
                            <a asp-controller="Motor" asp-action="OfferThisModel" asp-route-id="@Model.ModelId" class="btn btn-block btn-success">Offer</a>
                        </div>
                    </div>

                }
                else
                {
                    <div class="form-group">
                        <label class="font-weight-bold">Available:</label>
                        <h5 class="alert alert-danger">
                            This bike is not on offer, if you put it on offer you have to make it available.
                        </h5>
                    </div>
                }
                <div class="form-group text-center">
                    <div class="button-holder">
                        <a asp-controller="Motor" asp-action="AllFeedBack" asp-route-id="@Model.ModelId" class="btn btn-block btn-primary">Read all feedback</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>