@model ContactFormDto

@{ 
    this.ViewData["Title"] = "Details Messages";
}


<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Details for messsage:</h1>
        <div>
            <div class="form-group">
                <label asp-for="Name">Client Name</label>
                <h5 type="text" readonly class="form-control">@Model.Name</h5>
            </div>

            <div class="form-group">
                <label asp-for="Subject">Subject</label>
                <h5 type="text" readonly class="form-control">@Model.Subject</h5>
            </div>

            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea type="text" readonly class="form-control">@Model.Description</textarea>
            </div>

            <div class="form-group">
                <label asp-for="CreatedOn">Date of sending</label>
                <h5 type="text" readonly class="form-control">@Model.CreatedOn.ToShortDateString()</h5>
            </div>
        </div>
        <div class="text-center text-md-left mt-3">
            <a type="submit" class="btn btn-primary offset-6" asp-controller="Contact" asp-action="SendEmailToUser" asp-route-id="@Model.Id">Send Email</a>
        </div>
        <div class="status"></div>
    </div>
</section>