@model AllFreeMotorcylesQueryDto


@{
    this.ViewData["Title"] = "Free motorcycles";
}


<h1 class="text-center mt-2">All free motorcycles</h1>

<form method="get">
    <div class="row mt-2 mb-4">
        @foreach (var motorcycle in Model.Motors)
        {
            <div class="col-md-4">
                <div class="card mb-5 mt-3">
                    <img class="motor-img-top img-fluid img-thumbnail motor-image" style="width: 400px; height: 250px;" src="@motorcycle.Url" alt="@motorcycle.Manufacturer @motorcycle.Model - @motorcycle.Year (@motorcycle.Type)">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">@motorcycle.Year  @motorcycle.Manufacturer @motorcycle.Model (@motorcycle.Type)</h5>
                        <div class="row">
                            <a asp-controller="Client" asp-action="Details" asp-route-id="@motorcycle.Id" asp-route-information="@motorcycle.ToFriendlyUrl()" class="btn btn-primary md-2 offset-4">View</a>
                            <br />
                            <a asp-controller="Client" asp-action="BookThisModel" asp-route-id="@motorcycle.Id" asp-route-information="@motorcycle.ToFriendlyUrl()" class="btn btn-primary ml-2">Book</a>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <div class="d-inline">
                            <div class="rating ml-md-2 mb-3">
                                <span class="font-weight-bold"> Rating:</span>
                                <span id="starsForRate1" class="rating__star  fa-star @if (0.5 <= motorcycle.AverageVote) { <text>fa</text>}else{<text>far</text>}" data-vote="1"></span>
                                <span id="starsForRate2" class="rating__star  fa-star @if (1.5 <= motorcycle.AverageVote) { <text>fa</text>}else{<text>far</text>}" data-vote="2"></span>
                                <span id="starsForRate3" class="rating__star  fa-star @if (2.5 <= motorcycle.AverageVote) { <text>fa</text>}else{<text>far</text>}" data-vote="3"></span>
                                <span id="starsForRate4" class="rating__star  fa-star @if (3.5 <= motorcycle.AverageVote) { <text>fa</text>}else{<text>far</text>}" data-vote="4"></span>
                                <span id="starsForRate5" class="rating__star  fa-star @if (4.5 <= motorcycle.AverageVote) { <text>fa</text>}else{<text>far</text>}" data-vote="5"></span>
                                <span id="averageVoteValue">@motorcycle.AverageVote.ToString("0.0")</span><span> / 5</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>

@{ var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalMotorcycle / AllMotorcyclesQueryModel.MotorcyclesPerPage);
}


@{
    var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                                   !Model.Motors.Any();
    var isLastPage = false;
}

@if (!Model.Motors.Any())
{
    <h2 class="text-center">No more motorcycle!</h2>
    isLastPage = true;
}

<hr />
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="btn @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" asp-controller="User"
               asp-action="FreeMotors"
               asp-route-CountryId="@Model.CountryId"
               asp-route-CityId="@Model.CityId"
               asp-route-PickUpDate="@Model.PickUpDate"
               asp-route-DropOffDate="@Model.DropOffDate"
               asp-route-ManufacturerId="@Model.ManufacturerId"
               asp-route-Type="@Model.Type"
               asp-route-currentPage="@previousPage">Previous</a>
        </li>
        @if (@Model.CurrentPage != 1)
        {
            <li class="page-item"><a class="page-link" href="#">@previousPage</a></li>
        }

        <li class="page-item active">
            <a class="page-link" href="#">@Model.CurrentPage<span class="sr-only">(current)</span></a>
        </li>

        @{
            var nextpage = Model.CurrentPage + 1;
        }

        @if (!isLastPage)
        {
            <li class="page-item"><a class="page-link" href="#">@nextpage</a></li>
        }

        <li class="page-item">
            <a class="btn @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
               asp-controller="User"
               asp-action="FreeMotors"
               asp-route-CountryId="@Model.CountryId"
               asp-route-CityId="@Model.CityId"
               asp-route-PickUpDate="@Model.PickUpDate"
               asp-route-DropOffDate="@Model.DropOffDate"
               asp-route-ManufacturerId="@Model.ManufacturerId"
               asp-route-Type="@Model.Type"
               asp-route-currentPage="@(Model.CurrentPage + 1)">Next</a>
        </li>
    </ul>
</nav>


