@using BikesBooking.Services.Data.DTO.Clients
@model MotorcycleDetailViewModel

@{
    this.ViewData["Title"] = "Book Page";
}


<section class="py-5">
    <div class="container">
        <h1 class="text-center">Page for details for your bike and the possibility of booking it!</h1>
        <div class="col-8 offset-2">
            <div class="form-group text-center">
                <img src="@Model.Url" class="img-fluid">
            </div>
            <div class="form-group">
                <label class="font-weight-bold">The motorcycle is free</label>
                <h5 type="text" readonly class="form-control">From: @Model.PickUpDate.ToString("d") To: @Model.DropOffDate.ToString("d")</h5>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Price per day:</label>
                <h5 type="text" readonly class="form-control">@Model.Price Euro</h5>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Dealer name:</label>
                <h5 type="text" readonly class="form-control">@Model.Dealer</h5>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">City:</label>
                <h5 type="text" readonly class="form-control">@Model.City</h5>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Country:</label>
                <h5 type="text" readonly class="form-control">@Model.Country</h5>
            </div>
            <form method="post" class="container lead-sections">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="PickUpDate"></label>
                        <input asp-for="PickUpDate"  class="form-control" />
                        <span asp-validation-for="PickUpDate" class="text-danger"></span>
                    </div>

                    <div class="form-group col-6">
                        <label asp-for="DropOffDate"></label>
                        <input asp-for="DropOffDate"  class="form-control" />
                        <span asp-validation-for="DropOffDate" class="text-danger"></span>
                    </div>
                </div>


                <button type="submit"  asp-route-oldDropOffData="@Model.DropOffDate"
                                       asp-route-oldPickUpData="@Model.PickUpDate" class="btn btn-success">Book it</button>
            </form>
            <div class="form-group text-center">
            </div>
        </div>
    </div>
</section>