@using BikesBooking.Services.Data.DTO.Clients
@model MotorcycleDetailViewModel

@{
    this.ViewData["Title"] = "Details";
}


<section class="py-5">
    <div class="container">
        <h1 class="text-center">Page for details for your bike and the possibility of booking it!</h1>
        <div class="col-8 offset-2">
            <div class="form-group text-center">
                <img src="@Model.Url" class="img-fluid">
            </div>
            <div class="form-group">
                <label class="font-weight-bold">The motorcycle is free</label>
                <h5 type="text" readonly class="form-control">From: @Model.PickUpDate.ToString("d") To: @Model.DropOffDate.ToString("d")</h5>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Desctription:</label>
                <textarea type="text" rows="4" readonly class="form-control">@Model.Description</textarea>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Brand and Model:</label>
                <h5 type="text" readonly class="form-control">@Model.Manufacturer : @Model.Model</h5>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Color:</label>
                <h5 type="text" readonly class="form-control">@Model.Color</h5>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Cubic Centimetre:</label>
                <h5 type="text" readonly class="form-control">@Model.CubicCentimetre c.c.</h5>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Price per day:</label>
                <h5 type="text" readonly class="form-control">@Model.Price Euro</h5>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Dealer name:</label>
                <h5 type="text" readonly class="form-control">@Model.Dealer</h5>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">City:</label>
                <h5 type="text" readonly class="form-control">@Model.City</h5>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Country:</label>
                <h5 type="text" readonly class="form-control">@Model.Country</h5>
            </div>
            <div class="form-group text-center">
                <div class="button-holder">
                    <a asp-controller="Client"  asp-action="BookThisModel" asp-route-id="@Model.Id" asp-route-information="@Model.ToFriendlyUrl()" class="btn btn-block btn-primary">Book it</a>               
                </div>
            </div>
        </div>
    </div>
</section>