@using BikesBooking.Services.Data.DTO.Clients
@using Microsoft.AspNetCore.Identity
@using BikesBooking.Data.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<BookedMotorcycleDto>


@{
    this.ViewData["Title"] = "My Motorcycle";
    var user = await UserManager.GetUserAsync(this.User);
    var clientName = $"{user.FirstName} {user.LastName}";
}


<h1 class="text-center mt-2 mb-2">Booked motorcycle by: @clientName </h1>

<br />
<br />
@if (!Model.Any())
{
<h2 class="text-center">You haven't booked any bikes yet!!</h2>
}

@foreach (var motorcycle in Model)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"><i class="fas fa-motorcycle"></i></th>
                <th scope="col">Dealer Name</th>
                <th scope="col">Model</th>
                <th scope="col">City</th>
                <th scope="col">Period</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="col-md-1"><img src="@motorcycle.Url" style="width: 150px; height: 80px;" alt="Alternate Text" class="text-center" /></th>
                <td> @motorcycle.Dealer</td>
                <td class="col-md-2"> @motorcycle.Manufacturer</td>
                <td class="col-md-2">@motorcycle.City</td>
                <td>FROM: @motorcycle.PickUpDate.ToShortDateString() - TO: @motorcycle.DropOffDate.ToShortDateString()</td>
                <td class="text-center col-sm-2 mt-3">
                    <a asp-controller="Client" asp-action="DetailsByMotorcycleId" asp-route-id="@motorcycle.Id" class="btn btn-primary mt-4">Details</a>
                </td>
            </tr>

        </tbody>
    </table>
}
