@model SendEmailFormToDealer

@{
    this.ViewData["Title"] = "Send Email";
}


<h1 class="text-center">
   
</h1>

<section class="mb-4">

    <div class="row">
        <div class="offset-1">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-8 col offset-2">
                        <div class="md-form mb-0">
                            <label asp-for="@Model.DealerEmail">Dealer Email Address:</label>
                            <input asp-for="@Model.DealerEmail" readonly class="form-control">
                            <span asp-validation-for="DealerEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row col offset-2">
                        <div class="col-5 m-md-2">
                            <div class="md-form">
                                <label asp-for="@Model.Username">Your name:</label>
                                <input asp-for="@Model.Username" class="form-control">
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4 m-md-2">
                            <div class="md-form">
                                <label asp-for="@Model.UserEmail">Your Email:</label>
                                <input asp-for="@Model.UserEmail" class="form-control">
                                <span asp-validation-for="@Model.UserEmail" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col offset-2 col-md-8">
                        <div class="md-form">
                            <label asp-for="@Model.Description">Your message</label>
                            <textarea asp-for="@Model.Description" rows="6" cols="120" class="form-control md-textarea"></textarea>
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="text-center col-12 mt-4">
                    <button type="button" class="btn btn-primary" asp-controller="Contact" asp-action="SendEmailToDealer" data-toggle="modal" data-target="#rejectButton">Send</button>
                </div>

                <div class="modal fade" id="rejectButton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-titlete text-center" id="staticBackdropLabel" style="color:darkred"><u>Confirmation message!</u></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="bg-light">Are you sure you want to send this email to @Model.DealerEmail?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info btn-icon" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger btn-icon">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}